<div class="wrapper">
                  <ul class="tabs">
                      <li><a href="#tab1">Share</a></li>
                      <li><a href="#tab2">Organize</a></li>
                      <li><a href="#tab3">Search</a></li>
                      <li><a href="#tab4">Analyze</a></li>
                      <li class="last"><a href="#tab5">Collabarate</a></li>
                  </ul>
                  
                  <div class="tab_container">
                      <div id="tab1" class="tab_content">
                      <!--Content-->
                      	<div class="corner1">
                        <div class="corner2">
                        <div class="corner3">
                        <div class="corner4">
                       	<div class="block_cont">
                        <div class="clear">
                        <img src="images/stories/pic1.jpg" alt="" class="img_indent2"  />
                        <div class="tit">Freemind</div>
                        <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Praesent vestibu lum molestie lacus. </p>

						<p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nasce tur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, loremaecenas</p>
                        <a href="#" class="readon2"><span>more info</span></a>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>

                        </div>
                      </div>
                      <div class="tab_container">
                      <div id="tab2" class="tab_content">
                         <!--Content-->
                         <div class="corner1">
                        <div class="corner2">
                        <div class="corner3">
                        <div class="corner4">
                        <div class="block_cont">
                        <div class="clear">
                        <img src="images/stories/pic2.jpg" alt="" class="img_indent2"  />
                        <div class="tit">Freemind</div>
                        <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Praesent vestibu lum molestie lacus. </p>

						<p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nasce tur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, loremaecenas</p>
                        <a href="#" class="readon2"><span>more info</span></a>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                      </div>
                      </div>
                      <div class="tab_container">
                      <div id="tab3" class="tab_content">
                         <!--Content-->
                         <div class="corner1">
                        <div class="corner2">
                        <div class="corner3">
                        <div class="corner4">
                        <div class="block_cont">
                        <div class="clear">
                        <img src="images/stories/pic3.jpg" alt="" class="img_indent2"  />
                        <div class="tit">Freemind</div>
                        <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Praesent vestibu lum molestie lacus. </p>

						<p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nasce tur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, loremaecenas</p>
                        <a href="#" class="readon2"><span>more info</span></a>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                      </div>
                      </div>
                      <div class="tab_container">
                      <div id="tab4" class="tab_content">
                         <!--Content-->
                         <div class="corner1">
                        <div class="corner2">
                        <div class="corner3">
                        <div class="corner4">
                         <div class="block_cont">
                        <div class="clear">
                        <img src="images/stories/pic4.jpg" alt="" class="img_indent2"  />
                        <div class="tit">Freemind</div>
                        <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Praesent vestibu lum molestie lacus. </p>

						<p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nasce tur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, loremaecenas</p>
                        <a href="#" class="readon2"><span>more info</span></a>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                         </div>
                      </div>
                      </div>
                      <div class="tab_container">
                      <div id="tab5" class="tab_content">
                         <!--Content-->
                         <div class="corner1">
                        <div class="corner2">
                        <div class="corner3">
                        <div class="corner4">
                         <div class="block_cont">
                        <div class="clear">
                        <img src="images/stories/pic5.jpg" alt="" class="img_indent2"  />
                        <div class="tit">Freemind</div>
                        <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Praesent vestibu lum molestie lacus. </p>

						<p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nasce tur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, loremaecenas</p>
                        <a href="#" class="readon2"><span>more info</span></a>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                         </div>
                      </div>
                      </div>
                  </div>